name: FreeBSD

on: [push]

jobs:
  testfreebsd:
    runs-on: macos-10.15
    name: A job to run FreeBSD
    env:
      MYTOKEN2: "value2"
    steps:
    - uses: actions/checkout@v2
    - name: Checkout mono
      uses: actions/checkout@v2
      with:
        repository: mono/mono
        ref: mono-5.10.1.57
        path: mono
    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@v0.1.5
      with:
        envs: 'MYTOKEN2'
        usesh: true
        sync: sshfs
        prepare: pkg install -y curl libinotify git cmake ninja
        run: |
          pwd
          ls -lah
          whoami
          env
          freebsd-version
          git clone https://github.com/mono/mono.posix.git monoposix/
          cd monoposix/
          ./build.sh
