name: FreeBSD

on: [push]

jobs:
  build:
    runs-on: macos-10.15
    name: Build
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    - name: Build native FreeBSD lib
      id: test
      uses: vmactions/freebsd-vm@v0.1.5
      with:
        usesh: true
        sync: sshfs
        prepare: pkg install -y curl libinotify git cmake ninja bash
        run: |
          pwd
          ls -lah
          whoami
          env
          freebsd-version
          git clone https://github.com/mono/mono.posix.git monoposix/
          cd monoposix/
          ls -la
          bash build.sh
          ls -lah artifacts/host-freebsd-x64-release/
    - name: Save Artifacts x64
      uses: actions/upload-artifact@v2
      with:
        name: libMono-x64
        path: monoposix/artifacts/host-freebsd-x64-release/lib/libMono.Unix.so
        if-no-files-found: error
    - name: Save Artifacts arm
      uses: actions/upload-artifact@v2
      with:
        name: libMono-arm
        path: monoposix/artifacts/host-freebsd-arm-release/lib/libMono.Unix.so
        if-no-files-found: error
    - name: Restore dependencies
      run: dotnet restore MonoPosix.freebsd.sln
    - name: Build
      run: dotnet build --configuration Release --no-restore MonoPosix.freebsd.sln
    - name: Save Artifacts nuget
      uses: actions/upload-artifact@v2
      with:
        name: nuget
        path: nuget/bin/Release/MonoPosix.freebsd.1.0.0.nupkg
        if-no-files-found: error
