name: FreeBSD

on: [push]

jobs:
  testfreebsd:
    runs-on: macos-10.15
    name: A job to run FreeBSD
    env:
      MYTOKEN2: "value2"
    steps:
    - uses: actions/checkout@v2
    - name: Checkout mono
      uses: actions/checkout@v2
      with:
        repository: mono/mono
        ref: mono-5.10.1.57
        path: mono
    - name: Build native FreeBSD lib
      id: test
      uses: vmactions/freebsd-vm@v0.1.5
      with:
        envs: 'MYTOKEN2'
        usesh: true
        sync: sshfs
        prepare: pkg install -y curl libinotify git cmake ninja bash
        run: |
          pwd
          ls -lah
          whoami
          env
          freebsd-version
          git clone https://github.com/mono/mono.posix.git monoposix/
          cd monoposix/
          ls -la
          bash build.sh
    - name: Save Artifacts x64
      uses: actions/upload-artifact@v2
      with:
        name: libMono-x64
        path: monoposix/artifacts/host-freebsd-x64-release/libMono.Unix.so
    - name: Save Artifacts arm
      uses: actions/upload-artifact@v2
      with:
        name: libMono-arm
        path: monoposix/artifacts/host-freebsd-arm-release/libMono.Unix.so
